<h1 class="bg-primary" >Feeds</h1>

<table class="container">
  <div class="row">
  <thead>
    <tr>
      <th class="col-xs-4">Image</th>
      <th class="col-xs-4">Text</th>
      <th class="col-xs-4">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td class ="image"><%= image_tag feed.image.url if feed.image.url %></td>
        <td><%= feed.text %></td>
        <td><%= feed.user.name %></td>
        <td><%= link_to 'Show', feed, class: 'btn btn-info' %></td>
        <% if logged_in? && current_user.id == feed.user_id %>
          <td><%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-info' %></td>
          <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>
<% if logged_in? %>
  <%= link_to 'New Feed', new_feed_path, class: "btn btn-default" %>
<% end %>